.sectionField {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.sectionPinned {
  width: 100%;
}

.sectionPinned button {
  cursor:
    url('../../../images/unpin.png') 5 10,
    pointer;
}

.sectionAllTasks {
  width: 100%;
}

.section {
  width: 100%;
}

.section input {
  width: 500px;
  padding: 10px;
  font-size: 20px;

  border: 2px solid gray;
  border-radius: 5px;
}

.child {
  margin-bottom: 20px;
}

.content {
  min-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
