.container {
  display: flex;
  justify-content: center;
}

.app {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sectionField {
  width: 100%;
}

.sectionPinned {
  width: 100%;
}

.sectionAllTasks {
  width: 100%;
}

.noTasks {
  color: #a0a0a0;
}
